doctype html
html
body
 h1=filename
 each comment in comments
  h3=comment.name + '(' + comment.params.join(', ') + ')'
  pre=comment.doc.comment
  if comment.doc.params
   h5 Params
   ul
    each param in comment.doc.params
     li=param.name + ' [' + param.type + ']'
      pre=param.comment
  if comment.doc.returns
   h5 Returns
   ul
    li='[' + comment.doc.returns.type + ']'
     pre=comment.doc.returns.comment
